<%= form_for(@murmur) do |f| %>
  <% if @murmur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@murmur.errors.count, "error") %> prohibited this murmur from being saved:</h2>

      <ul>
      <% @murmur.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :generated_url %><br />
    <%= f.text_field :generated_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
