<%= form_for(@murmur, remote: true) do |f| %>
  <% if @murmur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@murmur.errors.count, "error") %> prohibited this murmur from being saved:</h2>

      <ul>
      <% @murmur.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :content, {placeholder: "請保持禮貌不要打髒話唷 ~ 啾咪 ^.<", class: "span4", required: true} %> <%= f.submit("送出去～") %>
  </div>
<% end %>
