<h1>Listing murmurs</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Generated url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @murmurs.each do |murmur| %>
  <tr>
    <td><%= murmur.content %></td>
    <td><%= murmur.generated_url %></td>
    <td><%= link_to 'Show', murmur %></td>
    <td><%= link_to 'Edit', edit_murmur_path(murmur) %></td>
    <td><%= link_to 'Destroy', murmur, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Murmur', new_murmur_path %>
